<!-- footer:main-footer
Définit le footer graphique de la page
-->
<% if current_user %>
  <%= content_tag :footer,
    class: "main-footer label-default" do %>
      <div class="container">
          <div class="pull-right">

              <!-- Copyright -->
              <div class="copyright vcenter">
                  &copy; copyright 2016
              </div>&nbsp;

              <i class="fa fa-qrcode fa-4x vcenter" aria-hidden="true"></i>

          </div>
      </div>
    <% end %>
<% else %>
<%= content_tag :footer,
    class: "main-footer label-default" do %>
      <div class="container">
          <div class="pull-right">

              <!-- Copyright -->
              <div class="copyright vcenter">
                  &copy; copyright 2016
              </div>&nbsp;

              <i class="fa fa-qrcode fa-4x vcenter" aria-hidden="true"></i>

          </div>
      </div>
    <% end %> 
<% end %>
<!-- end main-footer -->