<!-- footer:main-footer
Définit le footer graphique de la page
-->
<footer class="main-footer">
    <div class="container">
        <div class="pull-right">

            <!-- Copyright -->
            <div class="copyright vcenter">
                &copy; copyright 2016
            </div>&nbsp;

            <i class="fa fa-qrcode fa-4x vcenter" aria-hidden="true"></i>

        </div>
    </div>
</footer>
<!-- end main-footer -->